{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>CSIC</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
</head>


<body>
<div class="container-fluid p-2">
<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-secondary-tertiary">
<div class="container-fluid bg-light">
<img src="{% static 'images/uccs_logo.gif' %}">
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
<div class="collapse navbar-collapse" id="navbarNav">
<ul class="navbar-nav justify-content-center p-1">
<li class="nav-item">
<a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{% url 'labroom' %}">Lab Rooms</a>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Account</a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'login' %}">Sign In</a></li>
    <li><a class="dropdown-item" href="{% url 'register_page' %}">Sign Up</a></li>
  </ul>
</li>
</div>
</div>
</nav>

<!-- add block content from html template -->
{% block content %}


{% endblock %}
</div>
</body>
</html>
