<!-- inherit from base.html-->
{% extends "alras_application/base_template.html" %}


<!-- Replace block content in base_template.html -->
{% block content %}
<div class="container">
  <div class="row justify-content-center">
<h1>Welcome to Automated Lab Room Allocation System</h1>
<img src="images/cyberLab.jpg" class="img-fluid" alt="Cinque Terre">
<h4>Reservation Status Today</h4>
</div>
</div>

{% for i in student_active_today %}
<div class="col-sm-3 p-1 border rounded-top">
    <div class="container-fluid-sm">
    <strong>Name:</strong> {{i.name}}
    </br>
    <strong>Room and Slot: </strong>{{ i.slot.title }}
    </div>
</div>
{% endfor %}

{% endblock %}