<!-- inherit from base.html-->
{% extends "alras_application/base_template.html" %}


<!-- Replace block content in base_template.html -->
{% block content %}
<div class="container justify-content-center">
<h1 style="color:tomato;">Welcome to Automated Lab Room Allocation System</h1>
<img src="static/images/cyberLab_r.jpeg" class="img-fluid" alt="Cinque Terre" width="800" height="600">
</div>
<br>
<div class="container justify-content-center">
<h4 style="color:purple;">Reservation Status Today</h4>
{%if student_active_today %}
{% for i in student_active_today %}
<div class="col-sm-4 p-1 border rounded-top">
    <div class="container-fluid-sm">
    <strong>Name:</strong> {{i.name}}
    </br>
    <strong>Room and Slot: </strong>{{ i.slot.title}} {{ i.slot.slot.title}}
    </div>
</div>
{% endfor %}
{%else%}
    <p>No lab slots booked today</p>
</div>
{%endif%}
{% endblock %}