{% extends 'alras_application/base_template.html' %}


{% block content %}
<div class="container-fluid">
<h4>Labroom: {{ labroom.title }} {{ labroom.slot.title }}</h4>

{% if students %}
{% for student in students %}
<div class="col-sm-4 p-1 border rounded-top bg-info text-dark">
<p><strong>Student Name:</strong> {{ student.name }}</p>
<p><strong>Student Major:</strong> {{ student.major }}</p>
<p><strong>Purpose:</strong> {{ student.purpose }}</p>
<p><strong>Contact Email:</strong> {{ student.email }}</p>
<p><strong>Reservation date:</strong> {{ student.date|date:"F j, Y" }}</p>
</div>
{% endfor %}
{% if message %}
<a class="btn btn-primary" href="{%url 'update_slot' labroom.id date%}" role="button">Update Slot</a>
<a class="btn btn-primary" href="{%url 'cancel_slot' labroom.id date %}" role="button">Cancel Slot</a>
{% endif %}
{% else %}
<div class="col-sm-4 p-1 border rounded-top bg-info text-dark">
<p>This slot is available for reservation</p>
<a class="btn btn-primary" href="{% url 'reserve_slot' labroom.id date %}" role="button">Reserve</a>
{% endif %}
<a class="btn btn-primary" href="{%url 'labroom'%}" role="button">Go back</a>
</div>
</div>
{% endblock %}