{% extends 'alras_application/base_template.html' %}


{% block content %}
<div class="container justify-content-center">
<h1 style="color:tomato;">Cyber Security Lab Rooms</h1>
</div>
{% if data %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Room/Slot</th>
            {% for date in dates %}
                <th scope="col">{{date|date:"d M Y" }}</th>
            {% endfor %}
        </tr>
    </thead>

    <tbody>
        {% for x in data %}
        <tr>
            <th scope="row">{{x.labroom}}</th>
            {% for url in x.urls %}
                <td><a class="btn btn-primary" href="{{ url}}" role="button">View</a></td>
        {% endfor %}
        </tr>
        {% endfor %}
  </tbody>
</table>
{% else %}
<p>There are no lab rooms configured.</p>
</div>
{% endif %}
{% endblock %}