{% extends 'alras_application/base_template.html' %}


{% block content %}
<div class="container justify-content-center">
<h1 style="color:tomato;">Cyber Security Lab Room Availability Status</h1>
</div>
<div class="table-responsive">
{% if data %}
<table class="table table-bordered border-primary">
    <thead class="table-dark">
        <tr>
            <th scope="col">Room/Slot</th>
            {% for date in dates %}
                <th scope="col">{{date|date:"d M Y" }}</th>
            {% endfor %}
        </tr>
    </thead>

    <tbody>
        {% for x in data %}
        <tr>
            <th class="table-dark-bg-subtle" scope="row">{{x.labroom}}</th>
            {% for url in x.urls %}
                {% if url.reserve %}
                <td class="table-danger"><a class="btn btn-info btn-sm" href="{{ url.view }}" role="button">View</a>
                   <a class="btn btn-secondary btn-sm" href="{{ url.reserve }}" role="button">Reserve</a></td>
                {% else %}
                    <td class="table-warning"><a class="btn btn-info btn-sm" href="{{ url.view }}" role="button">View</a>
                    <a class="btn btn-success btn-sm" href="{{ url.update }}" role="button">Update</a></td>
                {% endif %}
        {% endfor %}
        </tr>
        {% endfor %}
  </tbody>
</table>
{% else %}
<p>There are no lab rooms configured.</p>
</div>
{% endif %}
</div>
{% endblock %}