{% extends 'alras_application/base_template.html' %}


{% block content %}
<div class="container justify-content-center">
<h1 style="color:tomato;">Cyber Security Lab Rooms</h1>
</div>
{% if labroom_list %}
<div class="container justify-content-center">
<ul>
{% for labroom in labroom_list %}
<ul>
<div class="col-sm-3 p-1 border rounded-top">
<h5>Room {{labroom.title}} {{labroom.slot.title}} <a class="btn btn-primary" href="{{ labroom.get_absolute_url }}" role="button">View</a><h5>
</div>
</ul>
{% endfor %}
</ul>
{% else %}
<p>There are no lab rooms configured.</p>
</div>
{% endif %}
{% endblock %}