<!-- inherit from base.html -->
{% extends 'alras_application/base_template.html' %}


<!-- Replace block content in base_template.html -->
{% block content %}
<div class="container-fluid">
<h5> Reserve Slot: {{ labroom }} </h5>
<h5> Date: {{ date }} </h5>
<h5> User: {{user}} </h5>

<div class="col-sm-3 p-1 border rounded-top bg-info text-dark">
<form action="" method="POST">
{% csrf_token %}
<table>
{{ form.as_table }}
</table>
<input type="submit" name="Submit">
<a class="btn btn-primary" href="{%url 'labroom'%}" role="button">Go back</a>
</form>
</div>
</div>
{% endblock %}